
html,body{
	margin: 0px;
	padding: 0px;

}

body{
	background-color: gainsboro;
	font-family: 'Amatic SC', cursive;
}
.navigation{
	background-color: deeppink;
	color: white;
	height: 50px;
	animation-name: navegaçao;
	animation-duration: 3s; 
}

.navigation ul{
	margin-top: 0;
	list-style: none;
	padding-left: 0;
	text-align: right;
	height: 50px;
}
.navigation li{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 30px;
}
.navigation a{
	text-decoration: none;
	color: white;
}

.navigation a:hover{
	color: bisque
}
.navigation li.threeline-icon{
	display: none;
}
.navigation li.threeline-icon{
	color: #f27609
	cursor:pointer; 
}
.capa div{
	display: inline-block;
	height:650px;

}
.profile-pic {
	text-align: center;
	width: 40%;
	animation-name: profile-capa;
	animation-duration: 5s;
}
.profile-pic img {
	width: 350px;
	border-radius: 350px;
	margin-top: 100px;
}
.profile-title{ 
	vertical-align: top; 
	width:59%;
	line-height: 20px;
	animation-name: profile-capa;
	animation-duration: 5s;
}
.profile-title h1 {
font-size: 58px;
margin-top:235px;
text-transform: uppercase;
}
.profile-title h2 {
font-size: 24px;
}

.main {
 
padding-top: 80px;
padding-right:180px;
padding-bottom:80px;
padding-left:100px;
animation-name: conteudo;
	animation-duration: 3s;


}
.main cv-pic {
	float: right;
}



.main h1 {
font-weight: bold;
font-size: 40px;
}
.main h2{
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 40px;
}
.main h3{
	font-size: 26px;
	color: deeppink; 
	text-transform: uppercase;
	
}
.main p {
	font-size:20px;
	color: black;
	text-transform: uppercase;
	line-height: 26px;
	font-weight: bold;
	text-align: justify;
	
}
.caminho {
list-style: none;
padding-left: 0;
color: black;
font-weight: bold;

}
.caminho li{
	display: inline-block;
}
.caminho a{
	text-decoration: none;
	color: black;

}

.profile-pic2 img{
	width: 350px;
	}

.social-img {
	width: 50px;
	margin-right: 10px;

}

.miniatura {
	margin-right: 15px;
	margin-bottom: 15px;
	display: inline-block;
	width:320px;
	height: 320px;
	overflow: hidden;

}
.miniatura a{
	text-decoration: none;
}
.blackbox {
	width: 100%;
	height: 100%;
	background-color: deeppink; 
	opacity: 0;
	padding-top: 50px;
	transition: 2s;

}

.blackbox:hover {
	opacity: 0.5;
	transition: 2s;
}

.blackbox-text{
	text-align: center
}

.blackbox-text h1{
	margin-top:0;
	text-align: center;
	color: white
}

.foto-trabalhos {
	width: 50%;
}
.back-link{
	color: black;
}

@keyframes profile-capa{
	0% {opacity: 0}

	100% {opacity: 1;}
}

@keyframes conteudo{
	0% {opacity: 0; transform: translate(-20px, 0px)}
	100% {opacity: 1; transform: translate(0px,0px)}
}
@keyframes navegaçao{
	0% {opacity: 0}
	50%{opacity: 0}
	100% {opacity: 1;}
}
@media (max-width: 1000px) {
.navigation li {
	display: nome;
}
.navigation li.threeline-icon {
	display: inline-block;
}
capa div{
	display: block;
	height:auto;

}
.profile-pic {

	width: 100%;

}
.profile-pic img {
	margin-top: 10%;
	max-width: 80%;
}
.profile-title {
	text-align: center;
	width: 100%;

}
.profile-title h1 {
	margin-top: 30px;
	font-size: 35px;
	margin-left: 20px;
	margin-right: 20px;
}
.profile-title h2 {
	margin-left: 20px;
	margin-right: 20px;
}
.main {
 
padding-top: 10px;
padding-right:5%;
padding-bottom:40px;
padding-left:5%;

}
.main p {
	text-align: left;
	line-height: 30px;
}
.caminho li {
	font-size: 13px;
}
.miniatura {
	max-width: 100%;
	background-size: auto 100%; 
}
.blackbox {
	opacity: 0.8;
}
.menujs {
height: auto;
}
.menujs ul{
height: auto;
text-align: center;
padding-right: 15%;
padding-left: 15%;
}
.menujs li {
	display: block;
	border-bottom: solid gray 1px;
}
}
